@charset "utf-8";
@import "font-awesome.css";
@import "bootstrap.css";
@import "syntax.css";

.title {
  text-shadow: 0 2px 0 rgba(0,0,0,0.15);
  color:#fff;
}

.highlight {
  background-color: rgba(250,250,250,0.8);
  padding:1em;
}

#main{
  padding-bottom:50px;
}
.date {
  display: block;
  font-size: 14px;
  font-weight: normal;
  color: #666;
  margin: 10px 0;
}

#main img {
  max-width: 100%;
}

body {
  background: #d4d4d4 url("../images/background.png");
  font-family: Open sans, sans-serif; }

.title{
  font-size: 180px;
  text-decoration: none;
}

.nav h1 {
  color: rgba(0, 0, 0, .3);
  font-weight: bold;
  font-size: 26px;
  letter-spacing: -1px;
  text-transform: uppercase;
  text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
  margin: 0; }

.nav li {
  list-style-type: none;
}

#main h1 {
  font-size: 40px;
  letter-spacing: -2px;
}

h1, h2 {
  color: rgba(0, 0, 0, .6);
  text-shadow: 0 1px 0 rgba(255, 255, 255, .7);
}

aside { margin-left: 20px;}

.doc {
  font-size: 14px;
  margin: 0; }
  .doc:before,
  .doc:after {
    opacity: .2;
    padding: 6px;
    font-style: normal;
    position: relative;
    content: "•"; }
  .doc a {
    color: rgba(0, 0, 0, 0.3); }
    .doc a:hover {
      color: #666; }

.welcome a {text-decoration: none;}

.welcome {
  text-align: center;
  -webkit-animation-name: welcome;
  -webkit-animation-duration: .9s; }

@-webkit-keyframes welcome {
  from {
    -webkit-transform: scale(0);
    opacity: 0;
  }
  50% {
   -webkit-transform: scale(0);
   opacity: 0;
  }
  82.5% {
    -webkit-transform: scale(1.03);
    -webkit-animation-timing-function: ease-out;
    opacity: 1;
  }
  to {
    -webkit-transform: scale(1);
  }
}
